html {
    background-color: var(--primaryColor);
    font-size: 16px;
    margin-top: 3em;
}
:root  {
    --primaryColor: rgba(46, 139, 86, 0.144);
    --secondaryColor: darkslategrey;
    --tertiaryColor: gray;
    --hoverColor: lightgray;
}
header, body, main, footer {
    max-width: 80%;
    margin: 0 auto;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 2em 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
}

h2 {
    color: white;
    text-align: center;
    background: var(--secondaryColor);
    margin: 0.68em 0;
}

h3 {
    text-align: center;
}

header span {
    font-size: 2em;
    color: rgba(1, 63, 1, 0.973);
}

button {
    background: var(--secondaryColor);
    border-color: var(--secondaryColor);
    text-decoration: none;
    color:aliceblue;
    padding: 0.5em 1em;
}

button:hover {
    background: lightgray;
}

p {
    padding: 1em;
}

section {
    margin-bottom: 50em;
    padding-top: 5em;
    min-height: 20em;
}

section > p {
    margin: 1em 0;
    padding: 1em;
}

section ul {
    padding-left: 2em;
}

#logo img {
    height: 20px;
    width: 20px;
}

#welcomeContent article img {
    width: 100%;
}

li {
    list-style-type: circle;
    padding: 0.3em;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: var(--secondaryColor);
    color:beige;
    padding: 1em 0;
    text-align: center;
}